.aboutbasic {
  .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
  }
  #grid_basic {
    display: grid;
    grid-template-columns: 2fr 2fr;
    #snap {
      width: 20%;
    }
  }
  .grid_data {
    margin: 0 auto;
    margin: 0 0 10% 40%;
    width: 50%;
    height: 30vh;
    margin-bottom: 10%;
    .grid_nr {
      font-size: 2rem;
      padding: 5% 0;
    }

    .grid_text {
      font-size: 12px;
    }
  }
  .below {
    line-height: 4vh;
    #below_title {
      padding: 10% 0;
    }
  }
  #line {
    border-top: 1px solid #f9cdcd;
    padding: 10px;
  }
  .Awards {
    display: flex;
    .awards_text {
      width: 40%;
      margin: 0 auto;
    }
    #btn_pink {
      width: 30%;
      padding: 5px 20px;
      margin: 30px 0;
    }
  }
  .aboutAwards {
    padding-bottom: 150px;
    .aboutAwards_last {
      display: flex;
      p {
        margin-top: 1%;
      }
    }
  }
}
