.navigation{
    nav{
        ul{
            display:flex;
            justify-content: space-around;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    img{
                        width: 3vw;
                    }
                }
            }
        }
    }
}
// default class from NavLink
.active{
    text-decoration: underline;
}