.About {
  color: #f9cdcd;
  background-color: #252422;
  .About_upper {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9cdcd;

    .flex_down {
      margin: 0;
      padding: 15% 0 0 35%;

      .companie_info {
        width: 100%;
      }
    }
  }
  .About_below {
    padding: 0 0 70px 50px;
    border-bottom: 1px solid #f9cdcd;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120vh;

    .below_text {
      width: 35%;
      font-size: 12px;
    }
    #below_photos {
      position: relative;
      margin-left: 325px;
    }
    #eins img,
    #zwei img,
    #drei img,
    #vier img {
      width: 50%;
      position: relative;
    }
    #eins {
      position: absolute;
      top: 180px;
      left: 70px;
      width: 100%;
    }
    #zwei {
      position: absolute;
      left: -80px;
      top: 80px;
      z-index: 1;
    }
    #drei {
      position: absolute;
      left: -200px;
      top: -60px;
    }
    #vier {
      z-index: 2;
    }
    #below_photos img:hover {
      z-index: 999;
    }
  }
}
