.About {
  color: #f9cdcd;
  background-color: #252422;
  .About_upper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9cdcd;

    .flex_down {
      margin: 0;
      padding: 15% 0 0 35%;

      .companie_info {
        width: 100%;
      }
    }
  }
  .About_below {
    border-bottom: 1px solid #f9cdcd;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120vh;

    .below_text {
      width: 15%;
      font-size: 12px;
    }
    #below_photos {
      position: relative;
      margin-left: 25px;
    }
    #eins img,
    #zwei img,
    #drei img,
    #vier img {
      width: 50%;
    }
    #eins {
      position: absolute;
      top: 250px;
      right: -120px;
      margin-right: 1rem;
    }
    #zwei {
      position: absolute;
      left: -50px;
      top: 150px;
      z-index: 1;
    }
    #drei {
      position: absolute;
      left: -155px;
      top: -60px;
    }
    #vier {
      z-index: 2;
    }
    #below_photos img:hover {
      z-index: 999;
    }
  }
}
