.starts {
  .here {
    text-align: right;
  }

  #hero_mp {
    margin-top: 15px;
    width: 100%;
    height: 100vh;
  }
  .hero_down {
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    padding: 10px 0px 100px;
  }
  .concept {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .description {
    width: 50%;
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  #logo_branding {
    width: 25%;
    height: 15vh;
  }
  // #btn_black:hover {
  //   background-color: black;
  //   color: #fff;
  // }
  .featured {
    padding: 7em 0 0;
    .title {
      padding-bottom: 3em;
    }
  }
  .below_black {
    background-color: rgb(37, 37, 34);
    color: #f9cdcd;
    .culture {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .culture_title {
        font-size: 3em;
        padding: 15% 0% 15% 0;
        margin-bottom: 10px;
      }
      p {
        font-size: 12px;
        margin-bottom: 50px;
      }
      #culture_mp {
        margin-top: 20px;
        width: 50vw;
        height: 70vh;
      }
    }
  }
}
