.ContactPage {
  background-color: #f4f4f4;
  font-size: 1em;
  .contact_top {
    display: flex;
    #contactHeaderImg {
      padding-right: 2%;
      width: 50%;
    }
    .contact_Topsec {
      padding: 100px 0;
      .sloganBox {
        .contactSlogan {
          font-size: 10px;
        }
      }
      .contactMails {
        display: flex;
        padding-top: 60%;

        .contactGrid {
          display: grid;
          grid-template-columns: repeat(2, 2fr);
          gap: 30%;
          margin-left: 60%;
          #email {
            padding-top: 10%;
            font-size: 14px;
          }
        }
      }
    }
  }
  #contactLine {
    border-top: 1px solid darkgrey;
  }
  .contactImgs {
    padding: 10px 50px;

    .upGrid {
      display: flex;
      justify-content: space-between;
      font-size: 10px;
    }
    .middleGrid {
      padding: 50px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .left {
        border-left: 1px solid darkgrey;
        .figure {
          display: flex;
          padding: 10px 10% 10%;
          p {
            margin-left: 20px;
            font-size: 12px;
          }

          #leftImg {
            width: 100%;
          }
        }
        #middleLine {
          border-top: 1px solid darkgrey;
          width: 180%;
          margin-left: 10px;
        }
      }
    }
  }
}
