.MainNews {
  #mainnews_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15%;
  }

  .news_container {
    display: flex;
    justify-content: space-evenly;

    border-top: 1px solid darkgrey;
    padding: 10px 0 35px;
    .com_title {
      width: 60%;
      font-size: 1.4em;
      font-weight: 300;
      margin-bottom: 28px;
    }

    .basicnews_img {
      height: 40vh;

      padding-right: 15px;
    }
    .basicnews_arrow {
      width: 2.5%;
      align-self: flex-start;
    }
  }
}
