.work {
  article {
    .work_title {
      width: 30%;
      margin-bottom: 10%;
      #work_ball:before {
        content: '⚫️';
      }
    }
    .work_info {
      width: 30%;
      margin: 0 0 15% 70%;
      font-size: 12px;
    }
  }
}
