.companies {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  overflow-y: hidden;
  .index {
    margin: 0 35px;
  }

  .companies_img {
    width: 70%;
  }
  .com_name {
    margin-bottom: 20px;
    color: red;
  }
  h5 {
    margin-bottom: 20px;
  }
  h5:after {
    content: '';
    display: block;
    width: 150px;
    border-bottom: 2px solid #bcbcbc;
    margin: 20px 0px;
  }
  p {
    font-size: 12px;
  }
}
