.companies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
  padding: 0;
  .img {
    width: 60%;
  }
  .com_name {
    margin-bottom: 20px;
    color: red;
  }
  //   .com_name:after {
  //     content: '';
  //     display: block;
  //     // width: 60px;
  //     border-bottom: 1px solid #bcbcbc;
  //     margin: 20px 0px;
  //   }
}
h5 {
  margin-bottom: 20px;
}
h5:after {
  content: '';
  display: block;
  width: 200px;
  border-bottom: 2px solid #bcbcbc;
  margin: 20px 0px;
}
