.footer_up {
  background-color: black;
  color: white;

  .collabo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .connect {
      margin-right: 15px;
      font-size: 1.2em;
    }
  }
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul:not(.stay) {
    padding: 35px;
    font-size: 1em;
  }
  ul:not(.stay):before {
    content: '⚪️';
  }
}

img {
  width: 5%;
  height: 5vh;
}
a {
  color: #ffff;
}
li a {
  font-size: 12px;
}
