* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; //*****sehr gut
  // box-sizing: inherit; von Carlos
}

a {
  text-decoration: none;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
#btn_black {
  border-radius: 40px;
  width: 15%;
  padding: 5px 19px;
  font-size: 7px;
  background-color: transparent;
  cursor: pointer;
}
#btn_black:hover {
  background-color: black;
  color: #fff;
}
#btn_pink {
  background-color: rgb(37, 37, 34);
  border: 1px solid #f9cdcd;
  color: #f9cdcd;
  border-radius: 40px;
  width: 30%;
  padding: 5px 19px;
  font-size: 10px;

  cursor: pointer;
}
#btn_pink:hover {
  background-color: #f9cdcd;
  color: black;
}
section:not(.footer, .companies) {
  padding: 50px;
  // text-align: center;
  // margin: auto;
}
h1 {
  font-size: 2em;
  font-weight: 700;
}
