.workpage {
  .workMain {
    .work_page {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-top: 1px solid darkgrey;
      padding: 10px;
      #workdata_box_left {
        position: relative;

        .workdata_date {
          position: absolute;
          top: -100px;
        }
        .workdata_title {
          width: 50%;
          margin-bottom: 15px;
          font-size: 2em;
        }
        .workdata_info {
          font-size: 12px;
          margin-bottom: 20px;
          width: 65%;
        }
      }
      button {
        border-radius: 50px;
        // width: 35%;
        padding: 5px 19px;
        font-size: 7px;
        background-color: transparent;
        cursor: pointer;
      }
      button:hover {
        background-color: black;
        color: #fff;
      }
      p {
        font-size: 10px;
      }

      #workdata_box_right {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 10px;

        .brand_img {
          width: 100%;
        }
        .brand_title {
          font-size: 17px;
          margin-bottom: 5%;
        }
        .brand_info {
          font-size: 12px;
          font-weight: 500;

          margin-bottom: 20px;
          width: 40%;
        }
      }
    }
  }
}
